@charset "UTF-8";

@font-face {
    font-family: HankenGrotesk;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
}

:root {
    --gradient-1: linear-gradient(#6743FF, #312CE8);
    --gradient-2: linear-gradient(#00000033, transparent);
    --background: linear-gradient(white, #e7e7e7);
    --grey: #a3a3a3;
    --lightgrey: #c7c7c7;

    --default-font: HankenGrotesk;
}

* {
    margin: 0px;
    padding: 0px;
    font: inherit;
}

body {
    font-family: var(--default-font);
    background-image: var(--background);
}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: white;  /* ??? */
}

.section {
    width: 230px;
    height: 420px;
    padding: 25px 50px;
}

.section-title {
    font-size: 1.5em;
}

/* left container */
.section-result {
    border-radius: 20px;
    
    color: white;
    background-image: var(--gradient-1);
    text-align: center;
}

.result-rank {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}

.circle {
    width: 200px;
    height: 200px;;
    margin: 30px auto;
    background-image: var(--gradient-2);
    border-radius: 50%;

    font-weight: bolder;

    display: inline-block;
    color: var(--grey);
}

.circle > span {
    color: white;
    font-size: 70px;

    margin-top: 25%;
    display: grid;
}

.comment {
    color: var(--lightgrey);
}

/* right container */
.section-summary {
    background-color: white;
}

.box01 {
    background-color: lightgreen;
    display: flex;
    padding: 10px;
    align-items: center;
}

.box01-title > h3 {
    display: inline-block;
    margin-right: 60px;
}

.box01-score > span {
    font-weight: bold;
}



/* PLACEHOLDER */
.box01-score {
    background-color: #8484dd;
}

.box01-title {
    background-color: rgba(46, 46, 46, 0.555);
}
/* PLACEHOLDER */


@media(max-width: 700px) {
    .container {
        display: inline-block;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
