@charset "UTF-8";

:root {
    --background: linear-gradient(#a566eb, #6563e8);
    --title: #201c30;
    --orange: #ff906e;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: var(--background);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Font */
h1{
    text-align: center;
    color: var(--title);
    font-size: 2em;
}
h2 {
    font-size: 0.8em;
    font-weight: normal;
    color: #666666;
}
p {font-size: 0.8em;}

.white-container {
    background-color: white;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

    width: 280px;

    margin-top: 6em;
}

.second-container {
    height: 350px; 
    margin-top: 1em;
}

.image {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: -8.3em;
    position: sticky;

}
.image-shadow {
    display: block;
    width: 80%;

    margin: auto;
    margin-top: -5em;
}

.question {
    padding: 1.2em 0;
    border-bottom: 1px solid rgb(231, 231, 231);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    align-self: center;
}

.answer {
    display: none;
    padding-bottom: 1em;
}

.question:hover h2 {
    color: var(--orange);              
    transition-duration: 0.3s;
}

.question-box:focus .question {
    border: none;
}
.question-box:focus .answer {
    display: block;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.question-box:focus .arrow {
    transform: rotate(180deg);
}

 /* Footer */
footer {
    color: white;
    margin: 1em 0;
    text-align: center;
    font-size: 12px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: var(--orange);
}
footer img {
    width: 12px;
    filter: invert(100%);
}