@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; /* ? */
}

:root {
  --purple: #511f50;
  --purple08: hsla(301, 45%, 22%, 0.08);
  --verified-buyer: #d26fa8;
  --black50: hsla(0, 0%, 0%, 0.5);
}

.global-container {
  padding: 1em;
}

/* UP container */

.up-container {
  text-align: center;
  margin: 1em 0;
}

.main-container h1 {
  color: var(--purple);
  font-size: 2em;
  
  margin-bottom: 1em;
}

.main-container p {
  color: var(--black50);
  line-height: 1.5em;

  font-weight: bold;

  margin-top: 1em;
}

/* STAR REVIEW CONTAINER*/
.star-container {
  margin: 3em 0;
}

.star-review{
  color: var(--purple);
  font-weight: bold;
  margin-bottom: 1em;

  background-color: var(--purple08);
  padding: 1em 0;
  border-radius: 5px;
}
/* Bottom container */

/* REVIEW CONTAINER */
.review-container-global {
  color: white;

  margin: 1em 0;

  background-color: var(--purple);
  padding: 2em;
  border-radius: 5px;
}
.review-container-global p {
  font-weight: bold;
  line-height: 1.7em;
  letter-spacing: 1px;
}

/* review header */
.review-header {
  margin-bottom: 1.5em;
}
.review-title {
  display: inline-block;
  margin-left: 1.5em;
}
.review-header img {
  width: 20%;
  max-width: 50px;
  border-radius: 50%;
}
.review-header h2 {
  font-size: 1em;
  margin-bottom: 0.3em;
}
.review-header p {
  color: var(--verified-buyer);
}


footer {
  text-align: center;
  font-size: 11px;
  margin: 1em 0;
}

footer a {
  color: #3d52a3;
}

@media(min-width: 650px) {
  .global-container {
    padding: 1em 15%;
  }
}

@media(min-width: 1000px) {
  .global-container {
    padding: 1em;
  }

  /* UP container */
  .up-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
  }


 .main-container {
  width: 80%;
  text-align: left;
 }

 .star-container {  
  margin: 5% 0;
  max-width: 500px;
 }

.star-review {
  display: flex;
  justify-content: space-around;

  padding: 0.5em 1em;
  width: 80%;
}
.star-review1 {margin: left;}
.star-review2 {margin: 1em auto;}
.star-review3 {margin-left:auto;}

/* down container */
.down-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 31.1%);
  column-gap: 3.33%;
}

.review-container-global {
  height: fit-content;
}

.review-container1 {margin-top: 0;}
.review-container3 {margin-top: auto; margin-bottom: 0;}
}