@charset "UTF-8";

@font-face {
  font-family: futura-bold;
  src: url(fonts/futura-bold-2.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --purple: #511f50;
  --purple08: hsla(301, 45%, 22%, 0.08);
  --verified-buyer: #d26fa8;
  --black50: hsla(0, 0%, 0%, 0.5);

  --futura-bold: futura-bold, Arial, Helvetica, sans-serif;
}
.global-container {
  padding: 1em;
}


/* UP container */
.up-container {
  text-align: center;
  margin-bottom: 3em;
}

/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-box1 {
  margin-bottom: 1em;
}
.main-box1 h1 {
  color: var(--purple);
  font-size: 2em;
  font-family: var(--futura-bold);
}
.main-box2 {
  margin-top: 1em;
}
.main-box2 p {
  color: var(--black50);
  line-height: 1.5em;
}

/* Star container */
.star-container {
  margin-top: 3em;
}
.star-box{
  color: var(--purple);
  font-weight: bold;
  margin-bottom: 1em;

  background-color: var(--purple08);
  padding: 1em 0;
  border-radius: 5px;
}
.star {
  margin-bottom: 0.5em;
}



/* Down container */
.down-container {
  margin-top: 1em;
}

/* Purple container */
.purple-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  margin-bottom: 1em;

  background-color: var(--purple);
  padding: 2em;
  border-radius: 5px;
}
.purple-box p {
  line-height: 1.7em;
  letter-spacing: 1px;
  font-size: 0.8em;
}

/* purple header */
.purple-header {
  margin-bottom: 1.5em;
  align-self: start;
}
.purple-title {
  display: inline-block; 
  margin-left: 1.5em;
}
.purple-header img {
  width: 19%;
  border-radius: 50%;
}
.purple-header h2 {
  font-size: 1em;
  margin-bottom: 0.3em;
}
.purple-header p {
  font-size: 0.9em;
  color: var(--verified-buyer);
}


/* Footer */
footer {
  text-align: center;
  font-size: 11px;
  margin-bottom: 1em;
}
footer a {
  color: #3d52a3;
}


/* Tablet media query */
@media(min-width: 650px) {
  .global-container {
    padding: 1em 15%;
  }
}


/* Desktop media query */
@media(min-width: 1250px) and (min-height: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }
  .global-container {
    padding: 0em;
    width: 80vw;
    height: 80%;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    max-height: 700px;
  }

  /* UP container desktop*/
  .up-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    height: 50%;
    margin-bottom: 0;
  }

  /* Main container desktop*/
 .main-container {
  width: 80%;
  text-align: left;
 }
 .main-box1 {
  margin-bottom: 0.5em;
 }
 .main-box1 h1 {
  font-size: 3em;
  line-height: 1em;
 }

 /* Star container desktop*/
 .star-container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
 }
.star-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1em;
  width: 100%;
  max-width: 450px;
}
.star-box1 {align-self: flex-start;}
.star-box2 {align-self: center;}
.star-box3 {align-self: flex-end;}
.star {margin: 0;}



/* Down container desktop*/

.down-container {
  display: flex;
  column-gap: 3.33%;
  height: 50%;
  max-height: 280px;
} 

/* Purple container desktop*/
.purple-box {
  height: 85%;
}
.purple-box1 {
  margin: 0;
  align-self: flex-start;
}
.purple-box2 {
  margin: 0;
  align-self: center;
}
.purple-box3 {
  margin: 0;
  align-self: flex-end;
}


/* Footer desktop*/
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: auto;
}
}
